.App {
    font-family: sans-serif;
    text-align: center;
    margin-bottom: 5%;
    margin-top: 5%;
  }
  
  .animes-list {
    display: grid;
    margin-top: 3%;
    grid-template-columns: repeat(
      auto-fit,
      minmax(200px, 1fr)
    );
    list-style: none;
    grid-gap: 1.5rem;
    
  }
  
  .animes-list img {
    max-width: 100%;
    
  }
  