.footer {
    background-color:#020f81;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    margin: 0 auto;
    padding: 10px 0px 10px 0px;
  }
  
  .footer li {
    justify-content: center;
    list-style: none;
  
  }
  
  .footer li :hover {
    color: var(--secondary);
  }